
<%= render "navbar", article: @article %>
<div class="main">
    <h1 class="header">Edit Blog</h1>

    <% @article.errors.full_messages.each do |msg| %>
        <li class="list"><%= msg %></li>
    <% end %>

    <%= render "form", article: @article %>
</div>